<!--HEADER-->
        <script src="/scripts/chapmanScripts.js"></script>
        <script src="http://code.jquery.com/jquery.js"></script>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .navbar .nav > .logout > a {
            color: #bd362f;
            text-decoration: none;
            -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
               -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
                    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="brand" href="/">Chapman Game Dev</a>
            {% if character %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                   {% if character.username == "GUEST" %}
                    {% set guestPrefix = '/guest/'%}
                   {% else %}
                    {% set guestPrefix = '/'%}
                   {% endif %}
                    <li class="active">
                        <a href="{{guestPrefix}}">Home</a>
                    </li>
                    <li>
                        <a href="{{guestPrefix}}charactersheet">Character Sheet</a>
                    </li>
                    <li>
                        <a href="{{guestPrefix}}projects">Projects</a>
                    </li>
                    <li>
                        <a href="{{guestPrefix}}contact">Contact</a>
                    </li>
                    {% if character.isAdmin  or  character.username == "GUEST" %}
                    <li class="dropdown">
                        <a href="{{guestPrefix}}admin" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>Admin</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{guestPrefix}}admin">Project Submissions</a></li>
                            <li><a href="admin?page=characters">Characters</a></li>
                            <li><a href="admin?page=courses">Courses</a></li>
                            <li><a href="admin?page=admins">Admins</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="logout">
                        <a href="{{ url|safe }}">{{ url_linktext }}</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
<!--END HEADER-->